**/*.VC.db
**/*.opensdf
**/*.opendb
**/*.sdf
**/*.sln
**/*.suo
**/*.xcodeproj
**/*.xcworkspace
**/.vs
**/Build
**/Builds
**/Binaries
**/ DerivedDataCache
**/Intermediate
**/Saved
**/StarterContent/
**/*_BuiltData.uasset
**/Content/FPS/Environment/Materials/Textures/T_Marble_N.uasset
**/Content/FPS/Environment/Materials/Textures/T_MacroVariation.uasset
**/Content/FPS/Environment/Materials/Textures/T_Leather_N.uasset
**/Content/FPS/Environment/Materials/Textures/T_Ground_Grass_D.uasset
**/Content/FPS/Environment/Materials/Textures/T_Ground_Grass_N.uasset
**/Content/FPS/Environment/Materials/Textures/T_Concrete_Poured_D.uasset
**/Content/FPS/Environment/Materials/Textures/T_Brick_Cut_Stone_D.uasset
**/Content/FPS/Environment/Materials/Textures/T_Rock_Slate_D.uasset
**/Content/FPS/Sound
