**/*.VC.db
**/*.opensdf
**/*.opendb
**/*.sdf
**/*.sln
**/*.suo
**/*.xcodeproj
**/*.xcworkspace
**/.vs
**/Build
**/Builds
**/Binaries
**/ DerivedDataCache
**/Intermediate
**/Saved
**/StarterContent/
**/*_BuiltData.uasset
**/Content/experimental
**/Content/Textures
**/Content/GTFreeMaterials
**/Content/FPS/Game/Music
**/Content/FPS/Materials/Textures/T_Marble_N.uasset
**/Content/FPS/Materials/Textures/T_MacroVariation.uasset
**/Content/FPS/Materials/Textures/T_Leather_N.uasset
**/Content/FPS/Materials/Textures/T_Ground_Grass_D.uasset
**/Content/FPS/Materials/T_Ground_Grass_N.uasset